[Unit]
Description=dooley-server manager
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/ddooley/go/src/github.com/danieldooley/dsmanager/cmd/dsmanager
Environment=GOROOT=/usr/lib/go
ExecStart=/usr/bin/go run main.go plex.go schedule.go weblogger.go sonarr.go
Restart=on-failure

[Install]
WantedBy=multi-user.target